$base-background-gradient: none;
$base-color: #673AB7;
$background-color: #fff;
$font-family: Sansita, sans-serif;
$button-background-color: #f6f6f6;
$button-color: #616161;
$gridcolumn-background-color: #404040;
$gridcolumn-color: #D9D9D9;
$gridrow-selected-background-color: #D1C4E9;
$gridrow-selected-border-color: #E1BEE7;
$themer-mixin-schema-timestamp: 1485466071050;
$ui-all-events-grid-gridrow-hovered-background-color: #9575CD;
$ui-grid-home-ui-gridcell-font-weight: 700;
$ui-grid-home-ui-gridrow-hovered-background-color: #5C6BC0;
$ui-navigation-treelist-background-color: #424242;
$ui-navigation-treelist-item-text-color: #D9D9D9;
$ui-navigation-treelist-row-selected-background-color: #7E57C2;